name: Schedule release and draft release notes
on:
  workflow_dispatch:
  schedule:
      - cron: "0 0 * * 3"

jobs:
  releaseversion:
    name: releaseversion
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: write  # for release-drafter/release-drafter to create a github release
      pull-requests: write  # for release-drafter/release-drafter to add label to PR

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Create release draft
        uses: ./.github/actions/release
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
  
