name: Manually build and publish ONLY FUNCTION-APP to a specific environments
on:
  workflow_dispatch:
    inputs:
        environment:
          type: environment
          description: Select the environment

        ref:
          type: string
          description: The branch or tag to deploy

env:
  DOTNET_VERSION: '9.0.x'

jobs:
  build-function-app:
    name: Build Function App
    runs-on: windows-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Setup .NET
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        shell: bash
        working-directory: ./src/Functions/Altinn.Auth.AuditLog.Functions
        run: dotnet restore

      - name: Build
        shell: bash
        working-directory: ./src/Functions/Altinn.Auth.AuditLog.Functions
        run: dotnet build --configuration Release --no-restore

      - name: Publish
        shell: bash
        working-directory: ./src/Functions/Altinn.Auth.AuditLog.Functions
        run: dotnet publish --configuration Release --no-build --output ./output

      - name: Upload artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: function-app
          path: ./src/Functions/Altinn.Auth.AuditLog.Functions/output/
          include-hidden-files: true

  deploy:
    name: Deploy function app to ${{ inputs.environment }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    needs:
      - build-function-app

    permissions:
      id-token: write
      contents: read
      packages: read

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Download built function-app
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5
        with:
          name: function-app
          path: ./artifacts/function-app

      - name: Azure Login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy FunctionApp
        uses: Azure/functions-action@0bd707f87c0b6385742bab336c74e1afc61f6369 # v1
        with:
          app-name: ${{ vars.AZURE_FUNCTIONAPP_NAME }}
          package: ./artifacts/function-app
